* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: #fefff6;
}

:root{
  --primary-color: #0a9c6f;
  --grey-900: #0d1919;
  --grey-800: #121b22;
  --grey-700: #1f2c34;
  --grey-600: #2d3438;
  --grey-300: #fefff6;
  --grey-200: #f1f2f6;
  --green-700:#103529;
  --green-400: #138b80;
  --green-300: #2dca7a;
  --green-100: #dcf8c6;
  --primary-font: "Roboto", sans-serif;
}

body{
  background-color: #2dca7a;
  padding: 40px;
}

#app{
  display: grid;
  background-color: var(--grey-900);
  grid-template-columns: 325px 1fr;
  height: 90vh;
  overflow: hidden;

}

/* aside style */

aside{
  background-color: var(--grey-800);
}


.profile{
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 7px;
}

.profile h2{
  font-size: 17px;
}

.profile-photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.actions{
  margin-left: 20px;
}

.actions button{
  background: transparent;
  border: none;
  background-color: var(--grey-800);
  padding: 5px;
  border-radius: 50%;
  transition: transform .2s;
}

.actions img{
  width: 25px;
  height: 25px;
}

.actions button:hover{
  background-color: var(--grey-700);
  cursor: pointer;
  transform: translateY(-4px);
}

/* search */

