* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: #fefff6;
}

:root{
  --primary-color: #0a9c6f;
  --grey-900: #0d1919;
  --grey-800: #121b22;
  --grey-700: #1f2c34;
  --grey-600: #2d3438;
  --grey-300: #fefff6;
  --grey-200: #f1f2f6;
  --green-700:#103529;
  --green-400: #138b80;
  --green-300: #2dca7a;
  --green-100: #dcf8c6;
  --primary-font: "Roboto", sans-serif;
}

body{
  background-color: #2dca7a;
  padding: 40px;
}

#app{
  display: grid;
  background-color: var(--grey-900);
  grid-template-columns: 325px 1fr;
  height: 90vh;
  overflow: hidden;
  border-radius: 10px;

}

/* aside style */

aside{
  background-color: var(--grey-800);
}


.profile{
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 7px;
}

.profile h2{
  font-size: 17px;
}

.profile-photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.actions{
  margin-left: 20px;
}

.actions button{
  background: transparent;
  border: none;
  background-color: var(--grey-800);
  padding: 5px;
  border-radius: 50%;
  transition: transform .2s;
}

.actions img{
  width: 25px;
  height: 25px;
}

.actions button:hover{
  background-color: var(--grey-700);
  cursor: pointer;
  transform: translateY(-4px);
}

/* search */

.search form input{
display: block;
border: none;
background-color: var(--grey-800);
color: white;
padding: 10px;
width: 100%;
}

.search form input:hover,
.search form input:focus{
  background-color: var(--grey-700);
}

/* chat section */

.chats-section{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.user-chat{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.user-chat img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-chat div{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.chats-section button{
  background: transparent;
  border: none;
   background-color: var(--grey-800);
   cursor: pointer;
}

.user-chat:hover, 
.user-chat:focus{
  background-color: var(--grey-600);
  border-left: 3px solid var(--green-100);
}

/* chat panel */

#chat-panel{
  display: flex;
  flex-direction: column;
}

.chat-header{
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  background-color: var(--grey-700);
}

.chat-header p{
  font-size: 14px;
}

.chat-header img{
    width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* messages*/

.messages{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 20px;
}
.message{
background-color: #103529;
padding: 15px;
width: 30%;
border-radius: 10px;
font-size: 15px;
}

.you{
  background-color: #2d3438;
}
.me{
  align-self: flex-end;
}

.content{
  font-size: 17px;
}

.message .time{
margin-top: 5px;
  text-align: end;
}




/* footer */

footer{
    background-color: var(--grey-700);
    padding: 15px;
    display: flex;
    align-items: center;
}

footer button{
  background: transparent;
  background-color: var(--grey-700);
  border: none;
}

footer button img{
  width: 22px;
  height: 22px;
}

footer form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1;

}

/* send button */

.send{
  display: flex;
  justify-content: center;
  background-color: var(--green-400);
  padding: 15px;
  border-radius: 15px;
  transition: all .05s;
}

.send:hover{
  background-color: var(--green-300);
  transform: translateY(-4px);
}

/* attach button */

.attach{
  padding: 15px;
  border-radius: 10px;
  transition: background-color .1s;
}

.attach:hover{
  background-color: var(--green-400) ;
}

/* textarea */

footer form textarea{
  width: 100%;
  padding: 10px;
  border: none;
  resize: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: var(--grey-600);
  color: var(--grey-300); 
  overflow: hidden;
}

/* responsive */

@media (max-width: 1000px){
  #app{
    grid-template-columns: 1fr;
  }


  aside{
    display: none;
  }

}

